@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 0.6944444444vw;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 2.66vw;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D1117;
  overflow-x: hidden;
  color: #ffff;
}

::-webkit-scrollbar {
  width: 0;
}

.react-multi-carousel-track {
  align-items: center;
  padding-bottom: 4rem !important;
}


.react-multi-carousel-item {
  display: grid;
  place-content: center;
  align-self: center;
}



@media screen and (min-width: 600px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
    gap: 20px;
  }
}