@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: min(13px, 0.6944444444vw);
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 2.66vw;
  }
}


/* @media screen and (min-width: 2000px) {
  html {
    font-size: 13px;
  }
} */

body {
  margin: 0;
  padding: 0;
  background-color: #050717;
  overflow-x: hidden;
  color: #ffff;
}


::-webkit-scrollbar {
  width: 0;
}


p {
  font-size: 1.4rem;
}

.react-multi-carousel-track {
  align-items: center;
  padding-bottom: 4rem !important;
}


.react-multi-carousel-item {
  display: grid;
  place-content: center;
  align-self: center;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  place-content: center;
  width: 100%;
  gap: 2rem;
  row-gap: 4rem;
}

@media screen and (min-width: 600px) {

  p {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  .btn {
    padding-inline: 2.5rem;
    font-size: 1.7rem;
    padding-block: 1.3rem;
    border-width: 2px !important;
  }
}

.btn {
  padding-inline: 2rem;
  border-radius: .7rem;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: 700;
}


.mask {
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
}


.react-multi-carousel-dot--active button {
  background: #9B86FE !important;
}

.header {
  @apply text-[3rem] leading-[3.5rem] sm:text-[6.5rem] sm:leading-[7.5rem] font-[700]
}

.sub-header {
  @apply text-[3rem] font-[700] sm:text-[5rem] leading-[4rem] sm:leading-[6rem]
}

.post_responsive_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}


.Toastify__toast-container {
  @media screen and (max-width: 800px) {
    width: 60vw !important;
    left: auto !important;
    margin-top: 1rem !important;
    margin-left: 1rem !important;
  }
}

.Toastify__toast {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 1.6rem !important;

  @media screen and (max-width: 800px) {
    font-size: 1.2rem !important;
  }
}

.react-tel-input .form-control {
  border: none !important;
  font-size: 1.2rem !important;
  padding-left: 4rem !important;
  width: auto !important;
}

.react-tel-input .flag-dropdown {
  border: none !important;
  background-color: transparent !important;
}

.react-tel-input .selected-flag {
  padding-left: 0 !important;
  width: 20px !important;
}

.hero_gradient_text {
  background: linear-gradient(180deg, #FF88C3 0%, #9B86FE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari/Webkit support */
  color: transparent;
}


.hero_gradient_text_ii {
  background: linear-gradient(180deg, #FF88C3 0%, #9B86FE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  /* Safari/Webkit support */
  color: transparent;
}



.bg_gradient {
  background: linear-gradient(180deg, #FF88C3 0%, #9B86FE 100%);
}


[data-animation-id='paragraph'] {
  opacity: 0;
}

[data-animation-id='slideIn'] {
  transform: translateX(50px);
  opacity: 0;
}

[data-animation-id='fadeIn'] {
  opacity: 0;
}


.header_ii {
  @apply text-[3rem] leading-[4rem] sm:text-[3.5rem] sm:leading-[5rem] font-[700]
}